{% extends 'pages/base.html' %}

{% load orders_extras %}

{% block title %}{{ page_title }}{% endblock %}

{% block content%}
<div class="row-fluid">
    <div class="span9">
        <form class="text-center" method="post" action="" enctype="multipart/form-data">{% csrf_token %}
            {{ upload_report_form.as_p }}
            <input type="submit" class="buttonLink" value="Upload" />
        </form>
        <ul>
        {% for report in uploaded_reports %}
            <a href="/report/{{ report.filename }}"><li>{{ report.file }}</li></a>
        {% endfor %}
        </ul>
    </div>
    <div id="controlPanel" class="span3 pull-right text-center">
	<a href="/orders/" class="buttonLink">
            <span class="ui-icon ui-icon-arrow-1-w"></span><span class="linkText">Back</span>
	</a>
    </div>
</div>
{% endblock%}