{% extends 'pages/base.html' %}

{# loads timezone #}
{% load tz %}

{# this allows us to load custom template tags #}
{% load orders_extras %}

{% block content %}
<div class="row-fluid">
	<div class="span12">
		<ul class="breadcrumb">
			<li><a href="/orders">Orders</a><span class="divider"> / </span></li>
			<li class="active">{{ order.address|title}}</li>
		</ul>
	</div>
</div>
<div class="row-fluid">
	<div class="span9 well well-small">
		<!-- order info -->
		<div class="row-fluid text-center">
			<div class="span6">
				<br/>
				<h3>Client Info</h3>
				<p>{{ order.applicantName|title }}</p>
				<p>{{ order.contactNum|phonenumber }}</p>
				<p>{{ order.address|title }}</p>
				<p>{{ order.city|title }}</p>
			</div>
			<div class="span6">
				<h3>Appraisal Info</h3>
				<p>Status: {{ order.status|get_status }}</p>
				<p>Date Due: {{ order.dueDate }}</p>
				<p>Appraisal Type: {{ order.appType }}</p>
				<p>{{ contacted_row|get_item:order.contacted }}</p>
				<p>Inspection: {{ order.inspectionDate|default:"No Inspection Set" }}</p>
				<p>Submitted {% localtime off %}{{ order.orderDate|date:"F d, o" }}{% endlocaltime %} by {{ order.username }}</p>				
			</div>
		</div>
	</div>
	<div id="controlPanel" class="span3 text-center">
		<a href="edit" class="buttonLink">
			<span class="ui-icon ui-icon-pencil"></span><span class="linkText">Edit</span>
		</a>
		<a href="print" class="buttonLink">
			<span class="ui-icon ui-icon-print"></span><span class="linkText">Print</span>
		</a>
		<a href="map" class="buttonLink">
			<span class="ui-icon ui-icon-flag"></span><span class="linkText">Map</span>
		</a>
		{% if perms.orders.delete_order %}
		<a href="delete" class="buttonLink">
			<span class="ui-icon ui-icon-trash"></span><span class="linkText">Delete</span>
		</a>
		{% endif %}
		<br/>
		<a href="/orders/" class="buttonLink">
			<span class="ui-icon ui-icon-arrow-1-w"></span><span class="linkText">Back</span>
		</a>
	</div>
</div>
<div class="row-fluid">
	<!-- order comments -->
	<div id="comments" class="span6">
	    <h3>Comments</h3>
	    <div id="orderComments">
		    {# comments placed after order is in system #}
		    {% if orderComments %}
		        {% for comment in orderComments %}
		             <blockquote>
		             	<p>
		             		{{ comment.comment }}
		             	</p>	
		             </blockquote>
		             <p class="commentDetails">
		             	By {{ comment.username }} on {{ comment.commentDate|date:"F d, o" }}
		            </p>
		        {% endfor %}
		    {% endif %}
		    {# this is the comment submitted with the order #}
		    {% if order.comments %}
		    	<blockquote>
		           	<p>
		            	{{ order.comments }}
					</p>	
				</blockquote>
				<p class="commentDetails">
		            By {{ order.username }} on {{ order.orderDate|date:"F d, o" }}
		        </p>
		    {% endif %}
		    {% if not orderComments and not order.comments %}
		        <p>No comments found.</p>
		    {% endif %}
	   	</div>
	</div>
	<!-- order updates -->
	<div id="updates" class="span6">
	    <h3>Updates</h3>
	    {% if orderUpdates %}
	        {% for update in orderUpdates %}
	            {% ifchanged update.updateDate %}
	                {% if not forloop.first %}
	                    <br/>
	                {% endif %}
	                {# set localtime to off so output from database is correct time. Date is formatted as well #}
	                {% localtime off %}{{ update.updateDate|date:"F d, o g:i A" }}{% endlocaltime %} by {{ update.username }}:<br/>
	            {% endifchanged %}
	            {# this is to make sure all updates with same data appear on the same line #}
	            -{{ update.update }}<br/>
	        {% endfor %}
	    {% else %}
	        <p>No updates to order.</p>
	    {% endif %}
	</div>
</div>
{% endblock %}