{% extends 'pages/base.html' %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
	<div class="row-fluid">
		<div class="span10 offset1 well well-small">
			<h3>Who We Are</h3>
			<p>
				David Tozer is the owner of Tozer Appraisal Services Ltd. David is a member in good standing with the Appraisal 
				Institute of Canada and has a CRA designation (Certified Residential Appraiser). Staff includes an appraiser 
				candidate and two administrative personnel. We are insured to appraise residential lots, cottage properties, 
				single family residences, and income properties (to a maximum of 4 units). 
			</p>
			<h3>History</h3>
			<p>
				Our appraisal firm was founded by John Tozer in 1972. His son David acquired a CRA (Certified Residential Appraiser) 
				designation from the Appraisal Institute of Canada in 1993 and assumed ownership in 2003. The company has grown 
				steadily over the years. Heavy investment in technology and an internet presence has resulted in superior 
				productivity and industry visibility. We pride ourselves in treating both existing and prospective Clients in a 
				professional and courteous manner. We cordially invite you to <a href="/contact">contact us</a> to discuss your appraisal needs. 
			</p>
		</div>
	</div>
{% endblock %}
