{% extends 'pages/base.html' %}

{% block content %}
	<div class="row-fluid">
		<div class="offset2 span9 well well-small">
			<p class="text-center">
				If you would like to get in contact with us please fill out the form below and we will get back to you
				as soon as possible. You can also email us or give us a call and we'll be happy to assist you.
			</p>
		</div>
	</div>
	<div class="row-fluid clearfix">
		<div class="offset3 span5 well">
			<form action="" method="post">{% csrf_token %}
    			{{ form.as_p }}
    			<input type="submit" class="buttonLink" value="Send message" />
			</form>
		</div>
		<div id="contactRight" class="span3">
			<p>
				<strong>Email</strong>
				<br/>
				<a href="mailto:info@tozerappraisals.com">info@tozerappraisals.com</a>
				<br/><br/>
				<strong>Telephone</strong>
				<br/>
				(705)745-6161
				<br/>
				<strong>Fax</strong>
				<br/>
				(705)745-6052
				<br/><br/>
				2750 Foxmeadow Road
				<br/>
				Peterborough, Ontario
				<br/>
				K9L 0B6
				<br/><br/>
				<strong>Hours of Operation</strong>
				<br/>
				Monday to Friday - 9am to 5pm
			</p>
		</div>
	</div>
{% endblock %}
