{% extends 'pages/base.html' %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
	<div class="row-fluid">
		<div class="span10 offset1 well well-small">
			<ol>
				<li><a href="#q1">Is the property assessment value similar to the current market value?</a></li>
				<li><a href="#q2">Will the appraised value of a property be different depending on who the Client is &#45; be it buyer, seller or the lender? </a></li>
				<li><a href="#q3">Does market value roughly equal the replacement cost contained in an insurance policy? </a></li>
				<li><a href="#q4">Do appraisers use a formula, such as a specific price per square foot, to estimate the value of a home?</a></li>
				<li><a href="#q5">Can you often tell what a property is worth simply by looking at the outside?</a></li>
				<li><a href="#q6">Is the homeowner entitled to a copy of the report even though the report was done for the lender, even though the homeowner
				paid for it?</a></li>
				<li><a href="#q7">Is an appraisal value different from a realtor&#39;s value?</a></li>
			</ol>
			<a name="q1"></a><blockquote>
				<h5><i>Is the property assessment value similar to the current market value?</i></h5>
			</blockquote>
			<p>
				Not necessarily: MPAC property assessors do not normally inspect house interiors. What if the home has been upgraded &#45; 
				or neglected? Or there has been a freeze on reassessments? Or market and economic conditions have changed since the last 
				assessment date? 
				<br/>
			</p>
			<p>
				<small>
					<a href="#">Top of Page</a>									
				</small>
			</p>
			<a name="q2"></a><blockquote>
				<h5><i>Will the appraised value of a property be different depending on who the Client is &#45; be it buyer, seller or the lender?</i></h5>
			</blockquote>
			<p>
				Not so. The appraiser has no vested interest in the value outcome &#45; regardless of who the Client is. 
				<br/>
			</p>
			<p>
				<small>
					<a href="#">Top of Page</a>									
				</small>
			</p>
			<a name="q3"></a><blockquote>
				<h5><i>Does market value roughly equal the replacement cost contained in an insurance policy?</i></h5> 
			</blockquote>
			<p>
				Rarely: Replacement cost is the dollar amount required to reconstruct a property in-kind &#45; an insurance replacement cost 
				includes demolition costs, dump fees, etc. but does not include the land value. 
				<br/>
			</p>
			<p>
				<small>
					<a href="#">Top of Page</a>									
				</small>
			</p>
			<a name="q4"></a><blockquote>
				<h5><i>Do appraisers use a formula, such as a specific price per square foot, to estimate the value of a home?</i></h5>
			</blockquote>
			<p>
				This approach is valuable when appraising a new home. But for an older home, purchasers don&#39;t make an offer to purchase 
				based on the cost per square foot as if new. 
				<br/>
			</p>
			<p>
				<small>
					<a href="#">Top of Page</a>									
				</small>
			</p>
			<a name="q5"></a><blockquote>
				<h5><i>Can you often tell what a property is worth simply by looking at the outside?</i></h5>
			</blockquote>
			<p>
				Appraising a property by looking at it from the outside would be the same as buying a car without at least taking it for 
				a test drive. There are many factors inside the home to consider that have a significant influence on value &#45; as well as 
				other economic factors such as market trends, interest rate movements and so on.
				<br/>
			</p>
			<p>
				<small>
					<a href="#">Top of Page</a>									
				</small>
			</p>
			<a name="q6"></a><blockquote>
				<h5><i>Is the homeowner entitled to a copy of the report even though the report was done for the lender, even though the homeowner
				paid for it?</i></h5>
			</blockquote>
			<p>
				The appraiser is not at liberty to provide a copy of the report to any other entity other than the Client. So unless 
				they release their interest in the document, the lender essentially &#34;owns&#34; the appraisal and retains the exclusive right 
				to use the report or any information contained within. 
				<br/>
			</p>
			<p>
				<small>
					<a href="#">Top of Page</a>									
				</small>
			</p>
			<a name="q7"></a><blockquote>
				<h5><i>Is an appraisal value different from a realtor&#39;s value?</i></h5>
			</blockquote>
			<p>
				Both use similar methods of arriving at value estimates. If the market analysis is done correctly, then the value 
				estimates should be reasonably close. However, there are circumstances where the two may be different. An example may be 
				where a single family residence is used as a student residence or a duplex is used as a triplex. Often the listing and 
				eventual selling price of those properties will be influenced by the income derived. If highest and best use of the 
				property is determined by the appraiser to be single family residential only, the appraisal value may be different. 
				Also, there are instances where chattels (i.e. furnishings, hottubs, and even vehicles) are included in the purchase 
				price. Mortgage appraisals normally do not include the effect of chattels. 
				<br/>
			</p>
			<p>
				<small>
					<a href="#">Top of Page</a>									
				</small>
			</p>
		</div>
	</div>
{% endblock %}