{% extends 'pages/base.html' %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
	<!-- breadcrumb -->
	<div class="row-fluid">
		<div class="span12">
			<ul class="breadcrumb">
				<li><a href="/">Home</a> <span class="divider">/</span></li>
				<li><a href="/services">Services</a> <span class="divider">/</span></li>
				<li class="active">Appraisal Facts</li>
			</ul>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span3">
			<ul id="servicesMenu" class="unstyled">
				<li>Appraisal Facts</li>
				<a href="/services/coverage"><li>Coverage Area<span class="ui-icon ui-icon-arrowthick-1-e"></span></li></a>
				<a href="/services"><li>What We Offer<span class="ui-icon ui-icon-arrowthick-1-e"></span></li></a>
			</ul>
		</div>
		<div class="span9 well well-small">
			<ul>
				<a href="/services/facts/#why"><li>Why&#39;s and How&#39;s of Appraisals</li></a>
				<a href="/services/facts/#styles"><li>Report Styles</li></a>
				<a href="/services/facts/#full"><li>Full Appraisal - What We Do</li></a>
				<a href="/services/facts/#value"><li>Increasing the Value of a Single Family Residence</li></a>
				<a href="/services/facts/#questions"><li>Questions?</li></a>
			</ul>
			<a name="why"></a><h3>Why&#39;s and How&#39;s of Appraisals</h3>
			<p>
				Getting a clear idea of what a property is worth is serious business! The appraiser&#39;s role is to provide a professional and 
				unbiased opinion of market value. The appraisal becomes a credible tool in assisting the Client to make some sort of decision 
				&#45; be it to provide a loan against a property, to set a price to buy or sell, to determine the fairness of a property 
				assessment, to settle an estate or divorce, and so on.
			</p>
			<p>
				Appraisals provide a formalized expert opinion of the value of a property using accepted &#34;approaches to value&#34;:
				<br/>							
				1) Cost &#45; involves land value, plus the cost &#34;as if new&#34; of any improvements netted against accrued depreciation;
				<br/>								
				2) Income &#45; commonly used for income-producing properties;
				<br/>								
				3) Direct Comparison &#45; where properties which have sold or are for sale are compared to the one being appraised &#45; any 
				differences are quantified and an opinion of value is arrived at in a logical manner. This approach is typically the 
				most accurate and best indicator of value for the majority of residential properties.
			</p>
			<p>
				One or more of these approaches can be used depending on the Client&#39;s needs, suitability and property type.
			</p>
			<p>
				Value can be defined in a variety of ways. In Canada, an accepted definition of market value is:
				<br/>								
				&#34;The most probable price which a property should bring in a competitive and open market as of the specified date under 
				all conditions requisite to a fair sale, the buyer and seller each acting prudently and knowledgeably, and assuming the 
				price is not affected by undue stimulus.&#34;
			</p>
			<p>
				<small>
					<a href="/services/facts/#">Top of Page</a>									
				</small>
			</p>
			<a name="styles"></a><h3>Report Styles</h3>
			<p>
				There are three kinds of reports available &#45; a full appraisal (involves a full inspection of the property by the 
				appraiser &#45; see below), a drive-by appraisal (the appraiser takes a photo of the property from the street and relies 
				on sources such as in-office, assessment and multiple listing service records for key information), and a desk-top 
				report (the appraiser relies solely on property information via an MLS provider). Depending on factors such as lending 
				requirements, property accessibility and confidentiality issues, it is the Client who determines which style of report 
				best suits their needs. 
			</p>
			<p>
				<small>
					<a href="/services/facts/#">Top of Page</a>									
				</small>
			</p>
			<a name="full"></a><h3>Full Appraisal - What We Do</h3>
			<p>
				The majority of Clients rely on full appraisal reports. Where a full appraisal is needed, the appraiser will initially 
				contact the property owner / client by telephone or e-mail to arrange for an inspection appointment, and ask that 
				certain documents be made available at that time such as a recent tax notice, property assessment, deed, survey, 
				building plans, or a list of planned changes to the property (if an &#34;on completion&#34; value is needed). Upon arrival, 
				the appraiser will introduce him/herself and begin inspecting the areas of the property that are reasonably accessible. 
				During the inspection, the appraiser will normally inquire as to any updates that may not be obvious (e.g. insulation, 
				wiring, plumbing lines, etc), construction materials used, and any problems that may become evident. The appraiser will 
				note a structure&#39;s layout, design, general condition and curb appeal, take interior and exterior photos, measure the 
				building exterior(s), inspect other lot improvements and the lot itself. Finally, a driving tour of the neighborhood is 
				made to determine its quality, conformity, location of any nearby nuisance or contrary property uses, amenities, 
				existence of comparable sales, and so on. 
			</p>
			<p>
				After the inspection, the appraiser must obtain information such as zoning, official plan designation, marketing history 
				of the property, market and other economic trends, and competitive listing and sales data. Typically a written report is 
				then prepared &#45; culminating in an examination and analysis of the market data, and reconciliation to an opinion of value. 
			</p>
			<p>
				The appraiser is not a home inspector &#45; although certain inspection processes are the same or similar. The appraiser 
				considers and documents the physical attributes of a property as they pertain to value. A home inspector&#39;s report 
				provides commentary on the physical condition of the building, as well as suggestions for correction or improvement 
				where necessary. 
			</p>
			<p>
				<small>
					<a href="/services/facts/#">Top of Page</a>									
				</small>
			</p>							
			<a name="value"></a><h3>Increasing the Value of a Single Family Residence</h3>
			<p>
				A planned change or renovation to a home may or may not increase value in a significant way. A number of factors come 
				into play here. However a very general rule of thumb seems to apply: As the value of your house exceeds the average 
				market value in your neighbourhood, your renovations will produce a declining rate of return on the dollar spent. But 
				if your house value is below the average, you can recover a larger part of those renovation costs. 
			</p>
			<p>
				&#34;Everything else being equal&#34;, according to a recent poll of the members of the Appraisal Institute of Canada the 
				greatest return on renovation dollar spent for single family residences is as follows:
				<ol>
					<li>Kitchen renovation</li>
					<li>Bathroom renovation</li>
					<li>Redecorating</li>
					<li>Installation of hardwood flooring, new furnace or roof shingles</li>
				</ol>
				Items with the least return on investment:
				<ol>
					<li>Saunas</li>
					<li>Hottubs</li>
					<li>Inground pools</li>
				</ol> 
			</p>
			<p>
				<small>
					<a href="/services/facts/#">Top of Page</a>									
				</small>
			</p>
			<h3>Questions?</h3><a name="questions"></a>
			<p>
				Feel free to send us your question via our <a href="/contact">contact form</a> 
				and we will get	back to you as soon as possible!
			</p>
			<p>
				<small>
					<a href="/services/facts/#">Top of Page</a>									
				</small>
			</p>
		</div>
	</div>
{% endblock %}
